.main-container {
    font-weight: bold;
}

.shead {
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 3vh;

}

.first-block {
}

.b-t {
    background-color: #eb8334;
    color: white;
    font-size: 2.5vh;
    line-height: 4vh;
    padding: 2vh;
    margin-bottom: 3vh;
}

.b-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

.b-left, .b-right {
    height: 40vh;
    width: 60vh;
}

.fb-left {
    background-image: url('../../Images/Services/kring1.jpg');
    background-size:  cover;
    background-position: center 21%;
    background-repeat: no-repeat;
}

.fb-right {
    background-image: url('../../Images/Services/kring3.jpg');
    background-size:  cover;
    background-position: 10% center;
    background-repeat: no-repeat;
}

.second-block {
}

.sb-left {
    background-image: url('../../../Style/Images/Services/lexus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% center;
}

.sb-right {
    background-image: url('../../../Style/Images/Services/porshe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 85% center;
}

.third-block {
}

.tb-left {
    background-image: url('../../../Style/Images/Services/bmw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tb-right {
    background-image: url('../../../Style/Images/Services/ford.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-cta {
    padding: 6vh 0 10vh 0;
}

.main-cta-headline {
    font-size: 3vh;
    text-align: center;
}

.main-cta-conatiner {
    display: flex;
    justify-content: center;
}

.main-cta-btn {
    margin-top: 3.5vh;
    padding: 1vh 2vh;
    background-color: #eb8334;
    border: none;
    border-radius: 10vh;
    color: #fff;
    font-size: 1.9vh;
    cursor: pointer;
}
