.main-container {
    font-weight: bold;
}

.bhead {
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    padding-left: 6vh;
}

.shead {
    font-size: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vh;
}

.text {
    padding-left: 3vh;
    padding-top: 2vh;
}

.twins {
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    width: 72vh;
}

.photo {
    display: block;
    position: relative;
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
}

.photo.pokraska {
    background-image: url('../../../Style/Images/Services/pokraska.jpg');
}

.photo.plenka {
    background-image: url('../../../Style/Images/Services/plenka.jpg');
}

.photo.pereshivka {
    background-image: url('../../../Style/Images/Services/pereshivka.jpg');
}

.photo.ruchnik {
    background-image: url('../../../Style/Images/Services/ruchnik.jpg');
}

.photo.chip {
    background-image: url('../../../Style/Images/Services/chip.jpg');
}

.photo.steydj {
    background-image: url('../../../Style/Images/Services/steydj.jpg');
}

.photo.vihlop {
    background-image: url('../../../Style/Images/Services/vihlop.jpg');
}

.photo.zvuk {
    background-image: url('../../../Style/Images/Services/zvuk.jpg');
}

.photo.lift {
    background-image: url('../../../Style/Images/Services/lift.jpg');
}

.photo.stens {
    background-image: url('../../../Style/Images/Services/stens.jpg');
}

span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    color: #fff;
    font-size: 3vh;
    transition: opacity .4s linear
}

    span:hover {
        opacity: 1;
    }

.main-cta {
    padding: 6vh 0 10vh 0;
}

.main-cta-headline {
    font-size: 3vh;
    text-align: center;
}

.main-cta-conatiner {
    display: flex;
    justify-content: center;
}

.main-cta-btn {
    margin-top: 3.5vh;
    padding: 1vh 2vh;
    background-color: #eb8334;
    border: none;
    border-radius: 10vh;
    color: #fff;
    font-size: 1.9vh;
    cursor: pointer;
}