.main-container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.bhead {
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    padding-left: 6vh;
}

.shead {
    font-size: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vh;
}

.text {
    padding-left: 3vh;
    padding-top: 2vh;
}

.first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.firb-left {
    width: 48%;
}

.firb-right {
    width: 48%;
}

afirl {
    background-image: url('../../../Style/Images/Services/pokraska.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

afirr {
    background-image: url('../../../Style/Images/Services/plenka.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

.second {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.secb-left {
    width: 48%;
}

.secb-right {
    width: 48%;
}

asecl {
    background-image: url('../../../Style/Images/Services/pereshivka.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

asecr {
    background-image: url('../../../Style/Images/Services/ruchnik.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

.third {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.thib-left {
    width: 48%;
}

.thib-right {
    width: 48%;
}

athir {
    background-image: url('../../../Style/Images/Services/chip.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

athil {
    background-image: url('../../../Style/Images/Services/steydj.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

.fourth {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.foub-left {
    width: 48%;
}

.foub-right {
    width: 48%;
}

aforr {
    background-image: url('../../../Style/Images/Services/vihlop.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

aforl {
    background-image: url('../../../Style/Images/Services/zvuk.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

.fifth {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.fifb-left {
    width: 48%;
}

.fifb-right {
    width: 48%;
}

afifr {
    background-image: url('../../../Style/Images/Services/lift.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

afifl {
    background-image: url('../../../Style/Images/Services/stens.jpg');
    display: block;
    position: relative;
    background-size: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}

span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    color: #fff;
    font-size: 3vh;
    transition: opacity .4s linear
}

    span:hover {
        opacity: 1;
    }

.main-cta {
    padding: 6vh 0 10vh 0;
}

.main-cta-headline {
    font-size: 3vh;
    text-align: center;
}

.main-cta-conatiner {
    display: flex;
    justify-content: center;
}

.main-cta-btn {
    margin-top: 3.5vh;
    padding: 1vh 2vh;
    background-color: #eb8334;
    border: none;
    border-radius: 10vh;
    color: #fff;
    font-size: 1.9vh;
    cursor: pointer;
}