.bhead {
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    padding-left: 6vh;
}

.shead {
    font-size: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vh;
}

.text {
    padding-left: 3vh;
    padding-top: 2vh;
}

.big {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    border: solid 1px black;
    border-right: solid 0px black;
}

.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    word-wrap: break-word;
}

.left {
    font-size: 2vh;
    width: 29%;
    border: solid 1px black;
}

.center {
    font-size: 1.5vh;
    width: 50%;
    border: solid 1px black;
}

.right {
    font-size: 2vh;
    width: 20%;
    border: solid 1px black;
    border-right: solid 2px black;
}

.main-cta {
    padding: 6vh 0 10vh 0;
}

.main-cta-headline {
    font-size: 3vh;
    text-align: center;
}

.main-cta-conatiner {
    display: flex;
    justify-content: center;
}

.main-cta-btn {
    margin-top: 3.5vh;
    padding: 1vh 2vh;
    background-color: #eb8334;
    border: none;
    border-radius: 10vh;
    color: #fff;
    font-size: 1.9vh;
    cursor: pointer;
}