.container {
  display: block;
}
.main-text-inner {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.main-text {
  font-size: 4.9vh;
  font-weight: 700;
  text-align: left;
  line-height: 1;
}

.responsive-map {
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
}
.other-text-inner {
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: flex;
}

#col_main {
  width: 100%;
  float: left;
  min-height: max-content;
}
#col_siberal {
  width: 30%;
  float: right;
  min-height: max-content;
  padding: 10px;
  padding-left: 20px;
}

.block-info {
  margin-bottom: 6vh;
}

.block-name {
  font-size: 4vh;
  font-weight: 300;
  margin-bottom: 1.4vh;
}

.col-name {
  margin-bottom: 1vh;
  font-size: 2.9vh;
}
