* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, Arial, sans-serif;
    list-style: none;
}

html {
    min-height: 100vh;
    width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #f9f9fa;
    overflow: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    background-color: #272727;
    color: #fff;
}

.header-container {
    padding: 1.5vh 0;
}

.header-top-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vh 5vh;
}

.logo {
    height: 5vh;
    width: 17vh;
    background-image: url('../Images/Logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vh;
    position: relative;
}

.header-nav-button {
    margin-bottom: -1vh;
    height: 3.2vh;
    border-bottom: 0.15vh solid transparent;
    color: #fff;
    font-size: 2.2vh;
    transition: border-color 0.3s, color 0.3s;
}

.services-button {
    cursor: pointer;
}

.header-nav-button:hover {
    border-color: #eb8334;
    color: #eb8334;
}

#services-menu {
    background-color: #fff;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    position: absolute;
    left: 0;
    top: 150%;
    z-index: 100;
    display: none;
}

.services-menu-button {
    height: 3.2vh;
    border-bottom: 0.15vh solid transparent;
    color: #000;
    font-size: 2.2vh;
    transition: border-color 0.3s, color 0.3s;
}

.services-menu-button:hover {
    border-color: #eb8334;
    color: #eb8334;
}

main {
    min-height: 90vh;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #272727;
    color: #fff;
}

.footer-container {
    padding: 5vh 0 2vh 0;
}

.footer-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vh;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8vh;
}

.footer-nav-column {
    color: #ccc;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.footer-nav-column-haedline {
    color: #fff;
}

.footer-nav-button {
    height: 3vh;
    border-bottom: 0.15vh solid transparent;
    color: #ccc;
    transition: border-color 0.3s;
}

.footer-nav-button:hover {
    border-color: #ccc;
}

.footer-logo {
    height: 5vh;
    width: 17vh;
    background-image: url('../Images/Logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.social-networks-links {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.social-networks-button {
    height: 3vh;
    width: 3vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.social-networks-button.vk-link {
    background-image: url('../Images/VK_Icon.svg');
}

.social-networks-button.rutube-link {
    background-image: url('../Images/Rutube_Icon.svg');
}

.social-networks-button.youtube-link {
    background-image: url('../Images/Youtube_Icon.svg');
}

.social-networks-button.telegram-link {
    background-image: url('../Images/Telegram_Icon.svg');
}

.footer-copyright {
    margin-top: 5vh;
    font-size: 1.4vh;
    color: #9b9b9b;
}

#back-cover {
    height: 100%;
    width: 100%;
    background-color: #0000009a;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.appointment-form-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.appointment-form {
    height: 36vh;
    width: 40vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 18vh);
    left: calc(50% - 20vh);
}

.appointment-form-headline {
    font-size: 3vh;
}

.appointment-form-input {
    width: 100%;
    height: 6vh;
    padding: 1vh;
    border: 0.1vh solid #eb8334;
    border-radius: 1vh;
    box-sizing: border-box;
    font-size: 4vh;
}

.appointment-form-btn {
    width: 100%;
    height: 6vh;
    background-color: #eb8334;
    border: none;
    border-radius: 1vh;
    box-sizing: border-box;
    color: #fff;
    font-size: 2.5vh;
    cursor: pointer;
}

.close-appointment-form {
    width: 3vh;
    height: 3vh;
    position: absolute;
    top: calc(50% - 17vh);
    left: calc(50% + 16vh);
}

/* Classes of width */

.max-width-80-percents {
    max-width: 80%;
    margin: 0 auto;
}

/* Classes of display */

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}