h1 {
    margin-bottom: 6vh;
    margin-top: 6vh;
    font-size: 4vh;
    
}
.block-person {
    margin-bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 22vh;
    height: 30vh;
    margin-right: 2vh;
}

.block-inf {
    max-width: 130vh;
    font-size: 2.2vh;
}



.block-name {
    font-size: 3vh;
    font-weight: 700;
    margin-bottom: 2vh;
}



.main-cta {
    padding: 6vh 0 10vh 0;
}

.main-cta-headline {
    font-size: 3vh;
    text-align: center;
}

.main-cta-conatiner {
    display: flex;
    justify-content: center;
}

.main-cta-btn {
    margin-top: 3.5vh;
    padding: 1vh 2vh;
    background-color: #eb8334;
    border: none;
    border-radius: 10vh;
    color: #fff;
    font-size: 1.9vh;
    cursor: pointer;
}

